  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

/* nav section */
nav{
    background-color: #d27d2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 10px ;
}


.blog_title_tag{
    text-decoration: none;
    color:  rgb(3, 39, 18);
    font-weight: bolder;
    font-size: 1.5rem;
}

.blog_title_tag:hover{
    color: white;
}

.blog_nav_tag{
    display: flex;
    gap: 3rem;
}

.blog_nav_tag:hover{
    color: white;
}

.nav_link{
    text-decoration: none;
    color:  rgb(3, 39, 18);
    font-weight: bolder;
    font-size: 1.2rem;
    
}

.nav_link:hover{
    color: white;
}


/* blog header */
.blog_head{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.blog_head_title h2{
    padding-bottom: 15px;
    font-weight: bolder;
    font-size: 3rem;
}



.blog_image{
   
    padding-left: 20px;
    
}

.blog_image img{
    width: 81.8rem;
    height: 100vh;
}


figure{
    margin-left: 0;
    padding-left: 0;
    margin-top: 2rem;
    border: none;   
}


/* blog body */
main{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 20px;
    background-color: #f7e6d6;
   
}


.cultural_diversity, .history_heritage, .country_population, .africa_lang, .global_influence, .african_society, .challenges{
    padding-top: 15px;
}

.country_population, .africa_lang{
    padding-left: 15px;
}



/* Aside */
aside{
    background-color: #d27d2a;
    padding-left: 40px;
    padding-right: 40px;
}

.related_post{
    padding-top: 35px;

} 

.related_post h3{
    font-size: 1.5rem;
    text-align: center;
}

.related_post ul li{
    padding-top: 55px;
}

/* footer */
footer{
    border-top: 2px solid #000000;
    background-color: #d27d2a;
    color: rgb(3, 39, 18);
    font-weight: bolder;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* footer p{
    padding-bottom: 15px;
} */

#copyright{
    padding-top: 10px;
    /* border-top: 2px solid white; */
}

/* media query for medium devices(tablet) */
@media (max-width:768px) {
    .blog_image{
        /* max-width: 50px; */
        border:1px solid red;
    }

    .blog_image img{
        width: 45.8rem;
        
    }
}



/* media query for small devices(mobile large) */

@media (max-width:425px) {

nav{
    display: block;
}

    .blog_title{
    text-align: center;
}

    .blog_subtitle_tag a{
        font-size: 0.9rem; 
        padding-left: 1.3rem;
        
    }

   
    .author_profile p{
        font-size: 0.9rem;
    }


   .blog_image figure img{
    max-width: 404px;
   }

    
   #blog_source{
    display: block;

   }


   .related_post img{
    max-width: 90%;
    display: block;
   }


   footer p{
    text-align: center;
   }

}






/* media query for small devices(mobile medium) */
@media (max-width:375px) {

        .blog_subtitle_tag a{
            padding-left: 0.8rem;
        }
        
    
       .blog_image figure img{
        max-width: 365px;
       }
        
    }

    


    /* media query for small devices(mobile small) */
@media (max-width:320px) {

        .blog_subtitle_tag a{
            padding-left: 0.2rem;
        }
        
    
    
       .blog_image figure img{
        max-width: 304px;
       }

    }
    


